@import url("header__navbar.css");

.hero {
  background: center / cover no-repeat url("../images/hero-lg.jpg");
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10%;
}

.hero::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero h1 {
  color: #ffffff;
}

@media (min-width: 765px) {
  .hero {
    min-height: 40vh;
    margin-top: 5%;
  }
}

@media (min-width: 1800px) {
  .hero {
    min-height: 40vh;
    margin-top: 2.5%;
  }
}
