.homepage__blogposts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
}

.grid-container {
  display: grid;
  gap: 1rem;
}

article {
  margin-bottom: 1.5rem;
}
