@import url("header/header.css");
@import url("sidebar/sidebar.css");
@import url("blog/blog.css");
@import url("footer/footer.css");
@import url("homepage/homepage.css");

/* Variables */
:root {
  --bg-color: #f3f3f3;
  --sidebar-color: #dcdcdc;
  --text-color: #616060;
  --header-color: #d1e7fc;
  --footer-color: #135d6d;
  --averia: "Averia Serif Libre", cursive;
  --montserrat: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--montserrat);
  font-size: 15px;
  width: 100%;
}

main {
  width: 100%;
  display: grid;
}

.blog__main {
  margin-top: 15%;
}

.heading {
  color: #000000;
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  font-family: var(--averia);
}

p {
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

h1 {
  font-size: clamp(2rem, 5vw, 3.5rem);
}
h2 {
  font-size: clamp(1.5rem, 5vw, 2rem);
}
h3 {
  font-size: clamp(1.3rem, 5vw, 1.6rem);
}

a {
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  color: #000000;
}

a:hover {
  color: var(--footer-color);
}

.hidden {
  display: none;
}

.btn {
  border-radius: 0.2rem;
  padding: 0.5rem;
}

button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--montserrat);
}

button:hover {
  cursor: pointer;
}

.overlay.active {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
}

@media (min-width: 765px) {
  main {
    grid-template-columns: repeat(5, 1fr);
  }

  .blog__main {
    margin-top: 10%;
  }
}
