.sidebar__scrolling-sidebar {
  background-color: var(--sidebar-color);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sidebar__social-icon-container {
  display: none;
}

.sidebar__scrolling-sidebar-inner-container {
  display: none;
  transform: translateY(-100%);
}

.dropdown {
  display: unset;
  transform: translateY(0);
  transition: all 0.5s ease;
}

@media (min-width: 765px) {
  .sidebar__scrolling-sidebar {
    position: sticky;
    top: 5%;
  }

  .sidebar__scrolling-sidebar-inner-container {
    display: unset;
    transform: unset;
    width: 100%;
    align-items: flex-start;
  }

  .sidebar__scrolling-sidebar > .row {
    display: none;
  }

  .sidebar__social-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: -2.5rem;
    top: 40%;
  }

  .social-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0.5rem 0;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1rem 0 0 1rem;
  }

  .social-icon-container::after {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1rem 0 0 1rem;
    background-color: var(--text-color);
    position: absolute;
    top: 0;
    z-index: 0;
  }

  .sidebar__social-icon {
    width: 1.5rem;
    z-index: 1;
  }
}
/* 
@media (min-width: 900px) {
  .sidebar__social-icon-container {
    left: -15%;
  }
}

@media (min-width: 1024px) {
  .sidebar__social-icon-container {
    left: -12.5%;
  }
}

@media (min-width: 1440px) {
  .sidebar__social-icon-container {
    left: -11%;
  }
} */
