.sidebar__author-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
}

.sidebar__author-avatar {
  border-radius: 50%;
  width: 5rem;
  margin: 0.5rem 0;
}

.company {
  margin: 0.5rem 0;
  text-align: center;
  font-size: clamp(0.8rem, 3vw, 1rem);
  font-weight: 400;
}

.sidebar__author-description {
  text-align: center;
  font-weight: 300;
  font-size: clamp(0.6rem, 5vw, 1rem);
}
